body
{
    color:black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cabecera 
{
    text-align: center;
    width: max-content;
    margin: 0;
    border: solid black;
}
#extension 
{
    border: solid yellow;
    margin: auto;
    padding: 3rem;
}