body
{
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera 
{
    text-align: center;
    width: min-content;
    margin: 12 rem;
    border: solid black;
}
