body
{
    color:black;
    text-align: center;
    font-family: 'Times New Roman';
}

#cabecera 
{
    text-align: center;
    width: max-content;
    margin: 0;
    border: solid black;
}
#extension 
{
text-align: center;
border: solid blue;
}
